$width-slider1440 : 1120px;
$width-slider1024 : 844px;
$width-slider768 : 768px;
$width-slider425 : 425px;
$width-slider375 : 375px;
$width-slider320 : 320px;
$width-promo1: 149px;
$width-promo2: 137px;